# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.DS_Store
.idea
*.iml
out
gen

vendor
.gen
_tools
cmd/api/phishql-api
cmd/proxy/phishql-proxy
cmd/graphql/phishql-graphql
